# Dataset directory
/data/

# Saved pytorch models
*.pt

# Saved annotation data
*.json

# Python cache
*.pyc

# PyCharm metadata directory
/.idea/

# VSCode metadata directory
/.vscode/

# Include prediction files submitted for the competition
# Test set predictions
!/competition_models/session_2/annotations/testing.json
# Validation set predictions
!/competition_models/session_2/annotations/validation.json
